:root {
  --basic-black: #283136;
  --basic-extra-black: #000000;
  --footer-grey: #666666;
  --footer-black: #444444;
  --basic-grey: #EEEEEE;
  --red-button: #FB565A;
  --red-button-hover: #E74246;
  --red-button-focus: #D7373B;
  --basic-dark-grey: #4D4D4D;
  --basic-white: #FFFFFF;
  --button-green: #00CA74;
  --button-green-hover: #00BC6C;
  --button-green-focus: #00AA62;
  --button-yellow: #EFC849;
  --button-yellow-hover: #EAB534;
  --button-yellow-focus: #E5A722;
  --border-white: #D7DCDE;
  --border-grey: #B4B9BB;
  --button-grey-hover: #DFDFDF;
  --button-grey-focus: #D5D5D5;
  --paginator--grey : #DBDBDB;

}

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}
.page {
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
}

.page-catalog {
  font-size: 16px;
  line-height: 18px;
  color: var(--footer-grey)
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  background-color: var(--basic-grey);
}

.nav-list, .account-list {
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  list-style: none;
  font-weight: 500;
}

.nav-list-current a:not([href]) {
  background-color: var(--basic-grey);
}

.nav-list a,
.account-list a {
  color: var(--basic-extra-black);
}

.nav-list a:focus,
.account-list a:focus {
  opacity: 0.3;
}

.nav-list a:hover,
.account-list a:hover {
  color: var(--red-button);
}

.slider {
  background-color: var(--basic-grey);
}

.slide-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-extra-black);
}

.service-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-extra-black);
}

.service-link,
.catalog-item-link,
.learn-more,
.contact-button,
.post-mail-button {
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  font: inherit;
  color: var(--basic-white);
  font-weight: 500;
}

.button-red,
.learn-more,
.contact-button,
.catalog-item-link,
.post-mail-button {
  background-color: var(--red-button);
}

.button-red:hover,
.learn-more:hover,
.contact-button,
.contact-button:hover,
.catalog-item-link:hover,
.post-mail-button:hover {
  background-color: var(--red-button-hover);
}

.button-red:focus,
.learn-more:focus,
.contact-button:focus,
.catalog-item-link:focus,
.post-mail-button:focus {
  background-color: var(--red-button-focus);
  opacity: 0.3;
}

.button-green {
  background-color: var(--button-green);
}

.button-green:hover {
  background-color: var(--button-green-hover);
}

.button-green:focus {
  background-color: var(--button-green-focus);
}

.button-yellow {
  background-color: var(--button-yellow);
}

.button-yellow:hover {
  background-color: var(--button-yellow-hover);
}

.button-yellow:focus {
  background-color: var(--button-yellow-focus);
}

.button-yellow:focus,
.button-green:focus,
.button-red:focus {
  opacity: 0.3;
  color: var(--basic-white);
}

.info-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-extra-black);
}

.info-subtitel-left {
  color: var(--basic-black);
  text-transform: uppercase;
  font-weight: 700;
}

.info-container-right {
  text-align: right;
}

.info-subtitle-right {
  text-transform: uppercase;
  font-weight: 700;
  caption-side: top;
  text-align: center;
}

.info-row {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.info-text {
  font-size: 16px;
  line-height: 18px;
  font-weight:400;
}

.clients-list {
  list-style: none;
}

.contact-titel {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-extra-black);
  text-transform: uppercase;
}

address {
  font: inherit;
  color: var(--footer-black);
}

.contact-tel {
  font: inherit;
  color: var(--footer-grey);
}

.socials-list {
  list-style: none;
}

.catalog-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-extra-black);
  background-color: var(--basic-grey);
}

.selector-title,
.container-header-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-extra-black);
}

.filter-list,
.range-list,
.catalog-container-sort,
.catalog-container-range,
.catalog-list,
.pagination-list {
  list-style: none;
}

.range-item {
  color: var(--basic-black);
  font-size: 16px;
line-height: 22px;
text-transform: uppercase;
}

input[type=number] {
  font: inherit;
  color: var(--basic-black);
  text-transform: uppercase;
  border-radius: 3px;
  border: var(--basic-grey) 1px solid;
  background-color: var(--basic-grey);
}

.selector-container {
  border: none;
  padding: 0;
}

.filter-item {
  line-height: 20px;
}

.filter-item-radio:hover+label,
.filter-item-checkbox:hover+label {
  color: var(--basic-black);
}

.selector-button,
.pagination-item a {
  font:inherit;
  font-weight: 500;
  text-align: center;
  color: var(--basic-extra-black);
  text-transform: uppercase;
  border-radius: 3px;
  background-color: var(--basic-grey);
}

.selector-button:hover,
.pagination-item a:hover {
  background-color: var(--button-grey-hover);
}

.selector-button:focus,
.pagination-item a:focus   {
  background-color: var(--button-grey-focus);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination-item a:active {
  border: 3px solid var(--paginator--grey);
  box-sizing: border-box;
  border-radius: 3px;
}

.container-item {
  text-transform: uppercase;
  font-size: 14px;
  color: var(--basic-extra-black);
}

.container-item:hover,
.container-range-item a:hover {
  opacity: 0.6;
}

.container-item:focus,
.container-item:active,
.container-range-item a:focus,
.container-range-item a:active {
  opacity: 0.3;
}

.catalog-list,
.catalog-img {
  padding: 0;
}

.catalog-item-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-extra-black);
}

.catalog-item-info {
  text-align: center;
}

.footer-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-extra-black);
}

.footer-subtitle {
  color: var(--footer-black);
}

.feedback-section {
  box-shadow: 0px 20px 40px;
}

.feedback {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: var(--basic-extra-black);
}

.feedback-lable {
  font-weight: 700;
  color: var(--basic-extra-black);
}

.feedback-text {
  color: var(--footer-black);
  border: 2px solid var(--border-white);
  background-color: transparent;
  font: inherit;
  line-height: 18px;
}

.feedback-text:hover {
  border-color: var(--border-grey);
}

.feedback-text:focus {
  border-color: var(--basic-extra-black);
}

.feedback-text:invalid {
  border-color: var(--red-button-hover);
  color: var(--red-button-hover);
}

.post-mail-button {
  text-align: center;
  vertical-align: middle;
  border: none;
}
